<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--amount of time between network pool loops -->
    <add key="NETWORK_POOL_RATE_MILLISECONDS" value="1000" />
    <!--amount of seconds over which the moving average download speed is calculated -->
    <add key="TIME_SECONDS_USED_FOR_AVERAGE" value="10" />
    <!--traffic under which computer shutdown is considered -->
    <add key="MIN_KILOBYTES_THRESHOLD" value="800" />
    <!--time spent under traffic threshold before shutdown is triggered -->
    <add key="TIME_SECONDS_BEFORE_SHUTDOWN" value="30" />
    <!--Shutdown mode : 0=suspend, 1=hibernate, 2=power off  -->
    <add key="SHUTDOWN_MODE" value="0" />
    <!--"true" allows for the app to really hibernate the PC -->
    <add key="SIMULATION_MODE" value="false" />
  </appSettings>
</configuration>